@font-face {
    font-family: Calculator;
    src: url(assets/fonts/Calculator.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    height: 80vh;
    display: flex;
    background-image: url(assets/images/math_bg.png) ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator {
    background-color: #c0c0c0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 0px 20px rgba(0,0,0,1);
}

.calculator form input {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: gray;
    font-size: 30px;
    color: #ffffff;
    margin: 10px;
}

.calculator form input:hover {
    box-shadow: none;
}

form .display {
    display: flex;
    justify-content: end;
    margin: 20px 0px;
}

form .display input {
    text-align: right;
    font-family: Calculator;
    flex: 1;
    box-shadow: none;
    font-size: 45px;
    background-color: #00B140;
    color: #000000;
}

form input.operator{
    background-color: black;
}

#equal {
    width: 150px;
    }
